# repodan adimi silme peyser.
telethon
cryptg
requests
pyrogram==2.0.97
tgcrypto
pymongo[srv]
aiofiles
psutil
motor
youtube-dl
youtube_search
yt_dlp
ffmpeg
telegraph
lyricsgenius==3.0.1
speedtest
aiohttp
cryptography
wget
lyricsgenius
speedtest
Pillow==9.0.0
gTTS
googletrans==4.0.0-rc1
openai
